*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.contenedor__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    margin: 20px 70px;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 350px;
    padding: 0 auto;
    gap: 12px;
    box-shadow: -3px -1px 3px 5px #8e8e80;
    border-radius: 42% 21% 22px 21%;
    text-align: center;

}

.img__a{
    background: url("../assets/img/trabajos/Conmutable.jpg") no-repeat center;


}

.img__b{
    background: url("../assets/img/trabajos/Reparacion.jpeg") center/cover no-repeat;

}

.img__c{
    background: url("../assets/img/trabajos/camaras.jpg") center/cover no-repeat;

}

.img__d{
    background: url("../assets/img/trabajos/Babaria-2.jpeg") center/cover no-repeat;

}

.img__e{
    background: url("../assets/img/trabajos/Materiales.jpg") center/cover no-repeat;

}

.img__f{
    background: url("../assets/img/trabajos/Herramientas.jpg") center/cover no-repeat;

}

.titulo__card{


  font-family: "Caacupe One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;

    color: #700;
    background: rgba(255, 255, 255, 0.2);
}

.tipo_a{
    color: #500;
}

.texto__card-{
    
    font-family: "Scoutie Sans", sans-serif;
    font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

    padding: 0 10px;
    color: #fff;
    background: rgba(2, 2, 2, 0.4);
}

.tipo_b{
    background: rgba(0, 0, 0, 0.4);
    color: #fff
}

@media screen and (max-width: 800px){
    .contenedor__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 20px 0px;
    }
}

@media screen and (max-width: 426px){
    .contenedor__cards{
        grid-template-columns: 1fr;
        width: 100vw;
        margin: 20px 0px;
    }
    .card{
        width: 96%;
        height: 400px;
        margin: 0 auto;
        border-radius: 10px;
    }
}