
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
    background: #dedede;

}

                    /* ENCABEZADO */

/* Contenedor caja Encabezado */
.contenedor__cabecera{
    height: 32px;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    z-index: 2;
    background: #eee;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: #c96a25 solid 3px;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* border: darkred solid 1px; */
}

/* MENU */

.contenedor_menu{
    place-content: center;
    margin: 0 auto;
    /* border: #f22 solid 1px; */
}

.menu{
    display: flex;
    gap: 8px;
    
}

.item{
    text-align: center;
    list-style: none;
    /* Estilizacion y tamaño boton */
    height: 18px;   
    width: 84px;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: bold;
    /* polimorfismo */
    box-shadow: 4px -4px 5px #aeaec0;
    border-radius: 6px;
    
}

.item:hover{
    color: #626262;
    cursor: pointer;
    /* polimorfismo */
    box-shadow: -4px 4px 5px  #aeaec0;
    transition: 420ms ease-in-out;
    
}


.item_a:hover{
    color: #1877f2;
}


.item_b:hover{
    color: #ff4411;
}


.item_c:hover{
    color: #25D366;
}



.item_d:hover{
    color: #E4405F;
}


.item:active{
    /* polimorfismo */
    box-shadow:  inset -4px 4px 2px #c5c5c5, inset 4px -4px 2px #ffffff;
    
}

/* LOGOTIPO */
.contenedor_logo{
    height: 30px;
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: #f22 solid 1px; */
}
.logo{
    height: 31px;
    cursor: pointer;
}


.titulo_principal{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    margin: 0 4px;
    text-align: center;
    color: #2b2b2b;
}

/* contenedor contacto */
.contacto{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
    /* border: #f22 solid 1px; */
}
/* contacto telefono */
.contacto__phone{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    
}
/* contacto correo */
.contacto__email{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}

                /* Contenido/Cuerpo */

.banner{
    position: relative;
    top: 34px;
    width: 99%;
    height: 420px;
    animation: spin 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
}
h2{
    font-size: 3rem;
}
.info{
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: "Caacupe One", sans-serif;
    font-weight: 300;
    font-size: 18px;

}

.info b{
    color: #f22;
}


@keyframes spin {
    0%, 20%{background-image: url(../assets/img/proyecto_img/pg\ \(2\).jpg);}
    25%, 45%{background-image: url(../assets/img/proyecto_img/pg\ \(3\).jpg);}
    50%, 70%{background-image: url(../assets/img/proyecto_img/pg\ \(4\).jpg);}
    75%, 100%{background-image: url(../assets/img/proyecto_img/pg\ \(4\).jpg);}
}

/* informacion de contacto del pie pagina */

footer{
    max-width: 800%;
    width: 99%;
    margin: auto;
    padding: 40px;
    border: #25D366 solid 2px;
    background: #dfdfdf;
}

@media screen and (max-width: 960px){
        .contenedor__cabecera{
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .contenedor_logo{
        width: 100vw;
        height: 30px;
        align-items: center;
        order: 1;
        grid-column: span 2;
        /* border: #f22 solid 1px; */
    }
    .contenedor_menu{
        order: 3;
    }
        .contacto{
        order: 2;
    }
    .banner{
        top: 62px;
    }

}

@media screen and (max-width: 480px){
    .contenedor__cabecera{
        height: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 4fr;
    }
    
    .despliegueMenu{
        height: 180px;
        gap: 2px;
    }
    
    .contenedor_logo{
        height: 30px;
        grid-column: span 1;
        /* border: #f22 solid 1px; */
    }

    .contenedor_menu-activo{
        height: 110px;
        order: 3;
    }
    
    .menu-activo{
        height: 100%;
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: #f22 solid 1px; */
        
    }

    .item-activo{   
    width: 90%;
    }
    
    .contenedor_menu{
        display: none;
    }
    
    .contacto-activo{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin: 0 auto;
        gap: 22px;
        order: 2;
        /* border: #f22 solid 1px; */
    }

    .contacto{

        display: none;
    }

    .banner{
        top: 32px;
    }

}

/* footer */
.ul{
    display: flex;
    flex-direction: column;
}